.map-container {
  height: 100vh;
  width: 100%;
}

.weather-info{
  background-color: white;
  padding: 20px;
}

input{
  border: none;
  border-radius: 25px;
  padding-inline: 15px;
  padding-block: 5px;
}

input:focus{
  outline: none;
}